list comprehension

In [8]:
num = [1,2,3,4,3,2,1]
[x+2 for x in num]

[3, 4, 5, 6, 5, 4, 3]

In [9]:
list({x+2 for x in num})

[3, 4, 5, 6]

In [10]:
name = 'Rajini'
[x for x in name]

['R', 'a', 'j', 'i', 'n', 'i']

In [12]:
list,range,string,tuple are iterable as sequence
list, set, dict

In [14]:
names = ['Alex', 'Beth', 'Caroline', 'Dave', 'Eleanor', 'Freddie']
[new.upper() for new in names if len(new) > 5]

['CAROLINE', 'ELEANOR', 'FREDDIE']

In [16]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[x**2 for x in values ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

filter

In [17]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[x**2 for x in values if x%2 == 0]

[4, 16, 36, 64, 100]